{% extends "base.html" %}

{% block content %}

<div class = "container py-5">
    <h1>Hello, {{username}}!</h1>
    <h3>Your applications</h3>
    <table class="table">
        <tr>
            <th>Job</th>
            <th>Company</th>
            <th>Status</th>
            <th>Deadline</th>
        </tr>
        {% for job in user_jobs %}
        <tr>
            <td><a href = "{{ job.link }}">{{ job.title }}</a></td>
            <td>{{ job.company }}</td>
            <td>{{ job.get_stage_display }}</td>
            <td>{{ job.stage_deadline }}</td>
        </tr>
        {% endfor %}
    </table>
    <button class = "btn btn-primary" onclick="location.href = '/logout'">Sign Out</button>
</div>

{% endblock %}